@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto/Roboto-Black.ttf') format('ttf'), ;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto/Roboto-Bold.ttf') format('ttf'), ;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}


@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto/Roboto-Medium.ttf') format('ttf'), ;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('ttf'), ;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url('/fonts/Roboto/Roboto-Light.ttf') format('ttf'), ;
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}