
@font-face {
  font-family: "Akrobat";
  /* src: url('akrobat-bold-webfont.woff2') format('woff2'),
         url('akrobat-bold-webfont.woff') format('woff'); */
  src: url("/fonts/AkrobatNew/Akrobat-Bold.otf");
  font-style: normal;
  font-weight: 700;
  font-display:swap;
}

@font-face {
  font-family: "Akrobat";
  /* src: url('akrobat-extrabold-webfont.woff2') format('woff2'),
         url('akrobat-extrabold-webfont.woff') format('woff'); */
  src: url("/fonts/AkrobatNew/Akrobat-ExtraBold.otf");
  font-style: normal;
  font-weight: 800;
  font-display:swap;
}

@font-face {
  font-family: "Akrobat";
  /* src: url('akrobat-extralight-webfont.woff2') format('woff2'),
         url('akrobat-extralight-webfont.woff') format('woff'); */
  src: url("/fonts/AkrobatNew/Akrobat-ExtraLight.otf");
  font-style: normal;
  font-weight: 200;
  font-display:swap;
}

@font-face {
  font-family: "Akrobat";
  /* src: url('akrobat-light-webfont.woff2') format('woff2'),
         url('akrobat-light-webfont.woff') format('woff'); */
  src: url("/fonts/AkrobatNew/Akrobat-Light.otf");
  font-style: normal;
  font-weight: 300;
  font-display:swap;
}

@font-face {
  font-family: "Akrobat";
  /* src: url('akrobat-regular-webfont.woff2') format('woff2'),
         url('akrobat-regular-webfont.woff') format('woff'); */
  src: url("/fonts/AkrobatNew/Akrobat-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display:swap;
}

@font-face {
  font-family: "Akrobat";
  /* src: url('akrobat-semibold-webfont.woff2') format('woff2'),
         url('akrobat-semibold-webfont.woff') format('woff'); */
  src: url("/fonts/AkrobatNew/Akrobat-SemiBold.otf");
  font-style: normal;
  font-weight: 600;
  font-display:swap;
}

@font-face {
  font-family: "Akrobat";
  /* src: url('akrobat-thin-webfont.woff2') format('woff2'),
         url('akrobat-thin-webfont.woff') format('woff'); */
  src: url("/fonts/AkrobatNew/Akrobat-Thin.otf");
  font-style: normal;
  font-weight: 100;
  font-display:swap;
}