* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Akrobat", sans-serif;
}
body {
  background-color: #fafafa;
}

.plane {
  display: none;
  @media (min-width: 576px) {
    display: flex;
    align-content: center;
    justify-content: flex-end;
  }

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .plane-btn {
    transform: rotate(-90deg);
    font-size: 30px;
    color: #cc5a1a;
    @media (min-width: 1200px) {
      font-size: 40px;
    }
  }
}
// header style started
#header {
  position: relative;
  padding-top: 40px;
}
.header_navbar {
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.header_navbar_logo {
  display: none;
  @media (min-width: 992px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header_navbar_logo_box {
    @media (min-width: 992px) {
      border-radius: 50%;
      box-shadow: rgb(0 0 0 / 25%) 4px 4px 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 3px;
      width: 100px;
      height: 100px;
    }

    @media (min-width: 1200px) {
      width: 140px;
      height: 140px;
    }
  }
  .header_navbar_logo_text {
    @media (min-width: 992px) {
      font-size: 15px;
      text-transform: uppercase;
      color: rgb(242, 118, 75);
      font-weight: bold;
      margin-top: 24px;
      min-width: 170px;
    }
  }
}

.header_nav_menu {
  display: none;
  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header_nav_menu_item {
    @media (min-width: 992px) {
      a {
        padding: 5px 18px;
        color: #000;
        text-decoration: none;
        font-size: 16px;
        text-transform: uppercase;
        margin: 0 10px;
        font-weight: 600;
      }
    }
  }
}
.mobile-menu-icon {
  margin-left: 10px;
  font-size: 18px;
  @media (min-width: 576px) {
    margin-left: 20px;
    font-size: 22px;
  }
  @media (min-width: 992px) {
    display: none;
  }
}

.header_texts_box {
  padding: 30px 0 10px 0;
  @media (min-width: 576px) {
    padding: 30px 0 22px 0;
  }
  @media (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (min-width: 992px) {
    align-items: flex-start;
    padding: 20px 0 22px 0px;
  }
  .header_middle_text {
    color: #cc5a1a;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 117.6%;
    letter-spacing: 0.005em;
    @media (min-width: 360px) {
      font-size: 18px;
    }
    @media (min-width: 400px) {
      font-size: 14.9px;
    }
    @media (min-width: 576px) {
      font-size: 20px;
    }
    @media (min-width: 768px) {
      font-size: 20px;
    }
    @media (min-width: 992px) {
      font-size: 22px;
    }
    @media (min-width: 1200px) {
      font-size: 28px;
    }
    // @media (min-width: 1400px) {
    //   font-size: 37px;
    // }
  }
  .header_big_text {
    color: #cc5a1a;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 117.6%;
    letter-spacing: 0.005em;
    margin-top: 5px;
    @media (min-width: 360px) {
      font-size: 32px;
    }
    @media (min-width: 400px) {
      font-size: 37px;
    }
    @media (min-width: 576px) {
      font-size: 50px;
    }
    @media (min-width: 768px) {
      font-weight: 700;
    }
    @media (min-width: 992px) {
      font-size: 60px;
      letter-spacing: 0.6px;
    }
    @media (min-width: 1200px) {
      font-size: 80px;
    }
    // @media (min-width: 1400px) {
    //   font-size: 103px;
    // }
  }
  .header_small_text {
    font-size: 13px;
    color: #cc5a1a;
    line-height: 15px;
    letter-spacing: 0.005em;
    margin-top: 4px;
    font-weight: 500;
    @media (min-width: 360px) {
      font-size: 13px;
      line-height: 15px;
      letter-spacing: 0.4px;
    }
    @media (min-width: 400px) {
      font-size: 13.9px;
      line-height: 1.4;
    }
    @media (min-width: 576px) {
      font-size: 15px;
      line-height: 20px;
    }
    @media (min-width: 768px) {
      text-align: center;
    }
    @media (min-width: 992px) {
      text-align: left;
      padding-right: 20px;
      font-size: 18px;
    }
    @media (min-width: 1200px) {
      font-size: 21px;
      line-height: 1.3;
      max-width: 700px;
    }
  }
}

.mobile-left-menu-wrapper {
  width: 100%;
  height: 100vh;
  background: rgba(1, 1, 1, 0.37);
  position: fixed;
  z-index: 54;
  top: 0;
  left: -104%;
  transition: all 0.4s;
  &.active {
    left: 0;
    transition: all 0.4s;
  }
  .mobile-after-bg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
  }
}

.mobile-menu-open {
  position: absolute;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 3;
  background-color: #fff;
  top: 0;
  left: 0;
  max-width: 300px;

  // display: none;
  .header_nav_menu_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .btn-logo-and-mobile {
    justify-content: center;
    padding-top: 30px;
    position: relative;

    .close-btn {
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      .close-btn-icon {
        color: #444;
        font-size: 20px;
      }
    }
    .header_navbar_logo_box_mobile {
      width: 155px;
      height: 155px;
      border-radius: 50%;
      box-shadow: rgb(0 0 0 / 25%) 4px 4px 4px;
      display: inline-block;
      padding: 3px;
    }
    .header_navbar_logo_text_mobile {
      font-size: 15px;
      text-transform: uppercase;
      color: rgb(242, 118, 75);
      font-weight: bold;
      margin-top: 24px;
    }
  }
  .header_navbar_btn_mobile {
    display: none;
  }
  .header_nav_menu_item_mobile {
    width: 90%;
    border-bottom: 1px solid black;
    margin: 0 auto;
    a {
      color: #000;
      font-size: 12px;
      padding: 4px 0px;
      text-transform: uppercase;
      text-decoration: none;
      margin: 10px 0;
      display: block;
      font-weight: 500;
    }
  }
  .header_navbar_social-m {
    padding-left: 15px;
    padding-top: 40px;
  }
}

.header_nav_menu_mobile {
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
}

.header_main_bgi {
  display: none;
  @media (min-width: 567px) {
    display: block;
  }
}

.header_main_bgi_mobile {
  @media (min-width: 567px) {
    display: none;
  }
}

.header_navbar_right-box {
  position: absolute;
  right: 10px;
  top: 40px;
  z-index: 2;
  // display: flex;
  @media (min-width: 576px) {
    right: 20px;
  }
  @media (min-width: 992px) {
    right: 30px;
  }
  @media (min-width: 1200px) {
    right: 41px;
  }
  @media (min-width: 1400px) {
    right: 123px;
  }
}

.header_navbar_social-m {
  display: flex;
  column-gap: 10px;
  @media (min-width: 992px) {
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
}

.header_navbar_social-m-item {
  a {
    color: #000;
    font-size: 18px;
    @media (min-width: 576px) {
      font-size: 22px;
    }
  }
  &.telegram-icon {
    a {
      color: #229ed9;
    }
  }

  &.whatsapp-icon {
    a {
      color: #25d366;
      font-size: 20px;
      @media (min-width: 576px) {
        font-size: 24px;
      }
    }
  }
  &.facebook-icon {
    a {
      color: #4267b2;
    }
  }
}

.header_navbar_phone {
  display: none;
  @media (min-width: 992px) {
    display: block;
    margin-bottom: 23px;
    .header_navbar_phone-icon {
      width: 17px;
      height: 17px;
      background: rgb(191, 114, 70);
      color: #fff;
      border-radius: 3px;
      margin: 3px 5px 0 0;
    }
    a {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 117.6%;
      text-decoration: none;
      letter-spacing: 0.005em;
      color: rgb(191, 114, 70);
    }
  }
}

.btn-logo-and-mobile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 20px 0;
  @media (min-width: 768px) {
    padding: 10px 0 22px 0;
  }
  .header_navbar_logo_mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @media (min-width: 992px) {
      display: none;
    }
    .header_navbar_logo_box {
      border-radius: 50%;
      box-shadow: rgb(0 0 0 / 25%) 4px 4px 4px;
      display: inline-block;
      padding: 3px;
      width: 85px;
      height: 85px;
      @media (min-width: 768px) {
        width: 121px;
        height: 121px;
      }
    }

    .header_navbar_logo_text {
      font-size: 15px;
      text-transform: uppercase;
      color: #cc5a1a;
      font-weight: bold;
      margin-top: 15px;
    }
  }

  .header_navbar_btn_mobile {
    @media (min-width: 992px) {
      min-width: 140px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-top: 100px;
    }
    button {
      font-size: 13px;
      background: rgb(191, 114, 70);
      color: #fff;
      border: none;
      outline: none;
      padding: 7px;
      border-radius: 4px;

      @media (min-width: 400px) {
        padding: 8px 14px;
        font-size: 14px;
      }
      @media (min-width: 992px) {
        min-height: 40px;
        font-size: 17px;
      }
    }
  }
}

.header_bread {
  display: flex;
  align-items: center;
  padding: 15px 0;
  column-gap: 10px;
  a {
    color: rgb(205, 205, 205);
    font-weight: 200;
    font-size: 15px;
  }
}

.header-fixed {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: rgb(1 1 1 / 30%) 1px 7px 10px;
  z-index: -3;
  opacity: 0;
  transition: 0.4s;
  &.active {
    opacity: 1;
    z-index: 23;
    transition: 0.4s;
  }
  .menu-icon__in-fixed {
    @media (min-width: 992px) {
      display: none;
    }
  }
  .logo-section {
    display: none;
    @media (min-width: 992px) {
      display: flex;
      align-items: center;
    }
    .logo-img {
      width: 50px;
      height: 50px;
    }
    .logo-text {
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      text-transform: uppercase;
      color: rgb(242, 118, 72);
    }
  }

  .menu-section {
    display: none;
    @media (min-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #000;
        font-size: 16px;
        font-weight: 600;
        padding: 10px 18px;
      }
    }
  }

  .fixed-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
  }

  .menu-icon-in-fixed {
    padding: 10px 10px 10px 0;
    @media (min-width: 992px) {
      display: none;
    }

    .menu-icon {
      @media (min-width: 768px) {
        font-size: 22px;
      }
    }
  }
  .to-book-btn {
    border: none;
    background: rgb(191, 114, 70);
    color: #fff;
    font-size: 13px;
    border-radius: 4px;
    min-width: 110px;
    min-height: 30px;
    @media (min-width: 768px) {
      min-width: 130px;
      height: 35px;
      font-size: 15px;
    }
  }
  .tel-me-btn {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 117.6%;
    letter-spacing: 0.005em;
    color: rgb(191, 114, 70);
    text-decoration: none;
    .icon {
      width: 20px;
      height: 20px;
      color: #fff;
      background: rgb(191, 114, 70);
      border-radius: 4px;
    }
  }
}

// end

// first-utp

#first-utp {
  padding: 25px 0;
  @media (min-width: 992px) {
    padding: 35px 0;
  }
  .first-utp-item {
    padding: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    @media (min-width: 768px) {
      padding: 0;
      justify-content: space-between;
    }

    @media (min-width: 1200px) {
      padding: 16px 0;
      justify-content: flex-start;
    }
  }
  .first-utp-img {
    .first-utp-img-box {
      position: relative;
      width: 45px;
      height: 55px;

      @media (min-width: 360px) {
        width: 55px;
      }

      @media (min-width: 576px) {
        width: 67px;
        height: 80px;
      }
      @media (min-width: 576px) {
        width: 58px;
      }
      @media (min-width: 992px) {
        width: 75px;
        height: 90px;
      }
      @media (min-width: 1200px) {
        width: 78px;
      }
    }
  }
  .first-utp-text {
    padding: 0px 20px;
    max-width: 440px;
    width: 100%;
    @media (min-width: 768px) {
      max-width: 550px;
      padding: 0;
      margin: 0 10px 0 10px;
    }
    @media (min-width: 992px) {
      margin: 20px 0px 20px 20px;
    }
    @media (min-width: 1200px) {
      margin: 0;
      padding: 20px 0px 20px 0px;
      max-width: 490px;
    }
    @media (min-width: 1400px) {
      padding-left: 20px;
    }
    h2 {
      font-size: 15px;
      line-height: 21px;
      font-weight: 500;
      text-transform: uppercase;
      color: #000;
      @media (min-width: 576px) {
        font-size: 19px;
        line-height: 24px;
        padding-left: 10px;
        letter-spacing: 0.4px;
      }
      @media (min-width: 768px) {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.01071em;
      }
      @media (min-width: 992px) {
        font-size: 21px;
        font-weight: 600;
      }
      @media (min-width: 1200px) {
        font-size: 30px;
        font-weight: bold;
        line-height: 37px;
        padding-right: 30px;
      }
      @media (min-width: 1400px) {
        padding-right: 65px;
      }
    }
  }
}

// end

// second-utp style started
#second-utp {
  .second-utp-title {
    h2 {
      font-weight: bold;
      line-height: 117.6%;
      letter-spacing: 0.005em;
      text-transform: uppercase;
      color: #cc5a1a;
      text-align: center;
      margin-bottom: 52px;
      @media (min-width: 320px) {
        font-size: 22px;
        margin-bottom: 30px;
      }
      @media (min-width: 576px) {
        font-size: 30px;
        margin-bottom: 30px;
      }
      @media (min-width: 768px) {
        font-size: 32px;
        margin-bottom: 38px;
      }
      @media (min-width: 992px) {
        font-size: 35px;
        margin-bottom: 45px;
      }
      @media (min-width: 1200px) {
        margin-bottom: 52px;
      }
    }
  }

  .second-utp-item {
    display: flex;
    padding-bottom: 30px;
    @media (min-width: 320px) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }
    @media (min-width: 576px) {
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 30px;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
    }
    &.display-none {
      @media (min-width: 320px) {
        display: none;
      }
      @media (min-width: 769px) {
        display: flex;
      }
    }
    &.mR {
      @media (min-width: 768px) {
        margin-right: 0;
      }
      @media (min-width: 992px) {
        margin-right: 24px;
      }
    }
    &.mL {
      @media (min-width: 768px) {
        margin-left: 0;
      }
      @media (min-width: 992px) {
        margin-left: 24px;
      }
    }
  }

  .second-utp-item-img {
    .second-utp-item-img-box {
      position: relative;
      @media (min-width: 320px) {
        width: 230px;
        height: 230px;
      }
      @media (min-width: 576px) {
        width: 230px;
      }
      @media (min-width: 768px) {
        width: 236.3px;
      }
      @media (min-width: 992px) {
        width: 230px;
      }
      @media (min-width: 1200px) {
        width: 253px;
      }
    }
  }

  .second-utp-description {
    width: 363.71px;
    @media (min-width: 320px) {
      width: 100%;
      box-shadow: none;
      height: auto;
    }
    @media (min-width: 576px) {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      min-height: 230px;
      width: 310px;
    }
    @media (min-width: 768px) {
      width: 483px;
    }
    @media (min-width: 992px) {
      width: 226px;
    }
    @media (min-width: 1200px) {
      width: 363.71px;
    }
    background: #ffffff;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);

    .second-utp-text-1 {
      h3 {
        height: 59.35px;
        font-weight: bold;
        font-size: 20px;
        line-height: 117.6%;
        letter-spacing: 0.005em;
        color: #000000;
        padding-top: 9.89px;
        padding-left: 13.36px;
        @media (min-width: 320px) {
          font-size: 16px;
          min-height: 40.35px;
          text-align: center;
          padding-left: 0;
        }
        @media (min-width: 400px) {
          font-size: 17.8px;
          min-height: 40.35px;
          text-align: center;
        }
        @media (min-width: 576px) {
          font-size: 18px;
          min-height: 59.35px;
          text-align: left;
          padding-left: 13.36px;
        }
        @media (min-width: 768px) {
          font-size: 20px;
        }
        @media (min-width: 992px) {
          font-size: 16px;
          min-height: 50.35px;
        }
        @media (min-width: 1200px) {
          font-size: 20px;
          min-height: 59.35px;
        }
      }
    }

    .second-utp-text-2 {
      p {
        font-weight: 300;
        font-size: 17px;
        line-height: 117.6%;
        letter-spacing: 0.005em;
        color: #000000;
        height: 133.55px;
        padding: 0 11.07px 24.45px 12.01px;
        @media (min-width: 320px) {
          font-size: 15px;
          text-align: justify;
          height: auto;
        }
        @media (min-width: 400px) {
          font-size: 16.5px;
        }
        @media (min-width: 576px) {
          font-size: 16px;
          text-align: left;
          line-height: 137.6%;
          // height: 133.55px;
        }
        @media (min-width: 768px) {
          font-size: 17px;
        }
        @media (min-width: 992px) {
          font-size: 15px;
          line-height: 127.6%;
        }
        @media (min-width: 1200px) {
          font-size: 17px;
          line-height: 137.6%;
        }
      }
    }
  }
}
// end

// tour-program style started
#tour-program {
  .tour-program-title {
    h2 {
      font-weight: bold;
      line-height: 117.6%;
      letter-spacing: 0.005em;
      text-transform: uppercase;
      color: #cc5a1a;
      text-align: center;
      margin-bottom: 52px;
      @media (min-width: 320px) {
        font-size: 22px;
        margin-bottom: 30px;
      }
      @media (min-width: 576px) {
        font-size: 30px;
        margin-bottom: 30px;
      }
      @media (min-width: 768px) {
        font-size: 32px;
        margin-bottom: 38px;
      }
      @media (min-width: 992px) {
        font-size: 35px;
        margin-bottom: 45px;
      }
      @media (min-width: 1200px) {
        margin-bottom: 52px;
      }
    }
  }

  .tour-program-list {
    .tour-program-list-item {
      .tour-program-list-title {
        font-size: 17px;
        font-weight: 500;
        line-height: 117.6%;
        letter-spacing: 0.005em;
        color: rgb(50, 52, 41);
        border-bottom: 1px solid rgb(50, 52, 41);
        padding: 15px 0;
        position: relative;
        padding-right: 15px;
        cursor: pointer;
        @media (min-width: 992px) {
          font-size: 20px;
        }
        b {
          margin-right: 5px;
          color: black;
          font-weight: bold;
        }
        .arrow-btn {
          position: absolute;
          right: 0;
          top: 50%;
          transition: 0.4s;
          &.active {
            transform: rotate(180deg);
          }
        }
      }
      .tour-program-list-description {
        padding: 12px 0;
        overflow: hidden;
        display: none;
        transition: all 0.5s;
        max-height: 0;
        opacity: 0;
        &.active {
          display: flex;
          transition: all 0.5s;
          flex-direction: column;
          opacity: 1;
        }

        .tour-program-list-texts {
          padding-bottom: 10px;
          padding-left: 28px;
          li {
            font-weight: 300;
            font-size: 20px;
            line-height: 117.6%;
            letter-spacing: 0.005em;
            color: rgb(0, 0, 0);
            margin: 7px 0;
          }
        }

        .tour-program-list-images {
          display: flex;
          align-items: center;
          flex-direction: column;
          padding: 0 10px;
          @media (min-width: 992px) {
            flex-direction: row;
            column-gap: 20px;
          }
          li {
            position: relative;
            min-width: 266px;
            width: 100%;
            height: 200px;
            list-style: none;
            margin-bottom: 10px;
            @media (min-width: 576px) {
              max-width: 300px;
              margin-bottom: 15px;
            }
            @media (min-width: 768px) {
              max-width: 420px;
            }
            @media (min-width: 1200px) {
              max-width: 358px;
              height: 250px;
            }
            @media (min-width: 1400px) {
              max-width: 420px;
            }
          }
        }

        .tour-program-list-footer {
          p {
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 117.6%;
            letter-spacing: 0.005em;
            color: rgb(0, 0, 0);
            text-align: center;
            margin-top: 25px;

            label {
              font-weight: bold;
              text-transform: uppercase;
              display: inline-block;
              margin-right: 7px;
            }
          }
        }
      }
    }
  }
}
// end

// action-detail style started
#action-detail {
  background: rgba(191, 114, 70, 0.3);
  margin: 15px 0;
  padding: 0 0 20px 0;

  .content {
    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      column-gap: 20px;
    }

    .content-left {
      @media (min-width: 768px) {
        width: 80%;
      }
      @media (min-width: 1200px) {
        width: 77%;
      }
      @media (min-width: 1200px) {
        width: 70%;
      }
    }

    .content-right {
      @media (min-width: 768px) {
        width: 20%;
      }
      @media (min-width: 1200px) {
        width: 23%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
      @media (min-width: 1400px) {
        width: 30%;
      }
    }
  }

  .action_detail_title {
    font-size: 22px;
    font-weight: 500;
    padding: 20px 0 7px 0;
    line-height: 117.6%;
    letter-spacing: 0.005em;
    color: rgb(0, 0, 0);

    @media (min-width: 920px) {
      font-size: 25px;
      font-weight: 600;
    }

    @media (min-width: 1200px) {
      font-size: 32px;
    }
  }

  .action_detail_info {
    font-size: 16px;
    font-weight: 500;
    line-height: 117.6%;
    text-align: justify;
    letter-spacing: 0.005em;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    @media (min-width: 576px) {
      padding-bottom: 30px;
    }

    @media (min-width: 768px) {
      font-size: 18px;
    }

    @media (min-width: 992px) {
      font-size: 21px;
    }

    @media (min-width: 1200px) {
      font-size: 25px;
    }
  }

  .action_detail_btn {
    outline: none;
    padding: 12px;
    font-size: 15px;
    border-radius: 4px;
    border: none;
    line-height: 117.6%;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    color: rgb(255, 251, 251);
    background: rgb(191, 114, 70);
    cursor: pointer;
    font-weight: bold;

    @media (min-width: 768px) {
      padding: 15px 5px;
      min-width: 150px;
    }

    @media (min-width: 992px) {
      padding: 20px 5px;
      margin-top: 20px;
      min-width: 190px;
      font-size: 18px;
      border-radius: 7px;
    }

    @media (min-width: 1200px) {
      font-size: 30px;
      padding: 35px 20px;
      min-width: 100%;
    }
  }
}
// end

// price
#price {
  .content {
    padding-top: 65px;
  }
  .price-title {
    font-weight: bold;
    line-height: 117.6%;
    letter-spacing: 0.005em;
    color: rgb(204, 90, 26);
    font-size: 22px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 35px;
    }
  }

  .price-info {
    margin-top: 20px;
    font-weight: 500;
    line-height: 117.6%;
    letter-spacing: 0.005em;
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 22px;
    }
  }

  .price-list {
    padding: 20px 0 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    @media (min-width: 768px) {
      align-items: center;
    }
    .price-list-item {
      min-height: 50px;
      border: 1px solid rgb(191, 114, 70);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 768px) {
        width: 70%;
      }

      p {
        font-weight: 500;
        text-align: center;
        line-height: 117.6%;
        letter-spacing: 0.005em;
        color: rgb(0, 0, 0);
        font-size: 16px;

        @media (min-width: 768px) {
          font-size: 20px;
        }
        b {
          display: block;
          @media (min-width: 576px) {
            display: inline-block;
            padding-right: 5px;
          }
        }
      }
    }
  }
}

// end

#rate {
  .header-list {
    .header-list-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px 20px 10px;
      color: #fff;
      margin: 10px 0;
      font-weight: 700;
      cursor: pointer;
      font-size: 20px;
      letter-spacing: 0.4px;
    }
    &:nth-child(1) .header-list-btn {
      background-color: #f19b2f;
    }
    &:nth-child(2) .header-list-btn {
      background-color: #bf7246;
    }
    &:nth-child(3) .header-list-btn {
      background-color: #d35400;
    }

    .header-list-modal {
      .rate-list-item {
        position: relative;
        .rate-list-item-title {
          font-size: 16px;
          position: relative;
          width: 100%;
          height: auto;
          display: flex;
          align-items: center;
          font-weight: 500;
          border-bottom: 1px solid rgb(204, 204, 204);
          padding: 10px 10px 20px 10px;
          width: 100%;
          cursor: pointer;

          .excl {
            margin: 5px 0 0 10px;
            position: absolute;
          }
          .bs_check {
            position: absolute;
            right: 10px;
            background-color: #f19b2f;
            color: #fff;
            border-radius: 50%;
            top: 15px;
          }

          .rate-list-item-descript {
            position: absolute;
            z-index: 22;
            background-color: #fff;
            width: 120px;
            color: #000;
            display: none;
            box-shadow: rgb(204 204 204) 1px 1px 10px 2px;
            padding: 10px;
            border-radius: 5px;
            top: 45px;
            left: 40px;
            min-width: 220px;
          }

          &:hover .rate-list-item-descript {
            display: block !important;
          }
        }
      }
    }
  }
}
