#header {
  position: relative;
}
.header_navbar__logo {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.header_navbar__nav {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.header_nav__menu_mobile {
  @media (min-width: 768px) {
    display: none;
  }
}

.header_main__BGI {
  display: none;
  @media (min-width: 567px) {
    display: block;
  }
}

.header_main__BGI_mobile {
  @media (min-width: 567px) {
    display: none;
  }
}
