#header {
  position: relative;
  padding-top: 30px;
}
.header_navbar_logo {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.header_nav_menu {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

.header_nav_menu_mobile {
  display: none;
  @media (min-width: 768px) {
    display: none;
  }
}

.header_main_bgi {
  display: none;
  @media (min-width: 567px) {
    display: block;
  }
}

.header_main_bgi_mobile {
  @media (min-width: 567px) {
    display: none;
  }
}
